<!DOCTYPE html>
<html>
    <head>
        <title>Is het schoolvakantie?</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏖️</text></svg>">
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Code+Pro&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta charset="UTF-8" />
    </head>
    <body>
        <header>
            <h1>Is het schoolvakantie?</h1>
        </header>
        <main>
            <div id="answer"><p>
                {% if current_holiday | length == 0 %}Nee! 😞
                {% elif current_holiday[0]['name'] == "Adviesweek meivakantie" %}Misschien! 🤔
                {% else %}Ja! 🎉
                {% endif %}
                </p></div>
            {% if current_holiday | length > 0 %}
            <div id="description">
                <p>Het is nu {{ current_holiday[0]['name'] | lower }}.
                {% if current_holiday[0]['name'] == "Adviesweek meivakantie" %}
                Dit is een week waarin de scholen zelf de keuze hebben of ze vrij geven.
                {% endif %}
                Deze is voor de 
                {% for region_key, region_value in next_holiday['regions'].items() %}{% if not loop.first and not loop.last %}, voor de {% endif %}
                {% if loop.last %} en voor de {% endif %}
                <span class="region">{{ region_key | lower }}</span> van {{ region_value['start'].strftime('%-d %B %Y') }} tot en met {{ region_value['end'].strftime('%-d %B %Y') }}{% endfor %}
                </p>
            </div>
            {% endif %}
            <div id="next_holiday">
                <h2>Volgende vakantie</h2>
                <p>De volgende vakantie is de {{ next_holiday['name'] | lower }}. Deze is voor de 
                {% for region_key, region_value in next_holiday['regions'].items() %}
                {% if not loop.first and not loop.last %}, voor de {% endif %}
                {% if loop.last %} en voor de {% endif %}
                <span class="region">{{ region_key | lower }}</span> van {{ region_value['start'].strftime('%-d %B %Y') }} tot en met {{ region_value['end'].strftime('%-d %B %Y') }}{% if loop.last %}.{% endif %}
                {% endfor %}
            </p></div>
        </main>
        <footer>
            <div id="links">
                <a href="https://www.rijksoverheid.nl/onderwerpen/schoolvakanties/overzicht-schoolvakanties-per-schooljaar">[ bron ]</a>
                <a href="{{ url_for("serve_api_docs") }}">[ api ]</a>
                <a href="https://github.com/tomwis97/ishetschoolvakantie.nl">[ GitHub ]</a>
            </div>
        </footer>
    </body>
</html>
